@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
@import url('https://use.typekit.net/wpi6pnz.css');
@import url('https://use.typekit.net/vxm5ili.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    color: #000;
    background: #121212;
    overflow-x: hidden;
}

/* Para navegadores baseados no WebKit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
    border-radius: 8px; /* Border-radius da barra de rolagem */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #00b182; /* Cor do "ponteiro" (parte que você arrasta) */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #121212; /* Cor da trilha (fundo da barra de rolagem) */
  }
  
  /* Para navegadores baseados na Microsoft (Edge) */
  ::-ms-scrollbar {
    width: 12px;
  }
  
  ::-ms-scrollbar-thumb {
    background-color: #00b182;
  }
  
  ::-ms-scrollbar-track {
    background-color: #121212;
  }
  