@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
@import url('https://use.typekit.net/wpi6pnz.css');
@import url('https://use.typekit.net/vxm5ili.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #000;
  background: #010101;
  overflow-x: hidden;
}
